node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*.local

dist/
build/
.next/
out/

coverage/
.nyc_output/

.DS_Store
Thumbs.db

.vscode/
.idea/

.cache/
.parcel-cache/
tmp/
temp/
.sass-cache/

.serverless/
.aws-sam/

__pycache__/
*.py[cod]
.pytest_cache/

.pnp/
.pnp.js
.npm/
