PORT=5000
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/smartseason
JWT_SECRET=change_this_to_something_long_and_random
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
